.wrapper
	.row
		.column.column--1-of-2.column--centered
			%h1 Home
			- @posts.each do |post|
				.post__meta
					%small.post__meta--left= cleandate(post.created_at)
					.heart.post__meta--right
						%a{:onclick => "like(this,'#{post.id}')",:href => 'javascript:void(0);', :class => 'heart__link'}
							= image_tag('heart.svg', class: 'heart__img')
						%small{:id => "like_count_#{post.id}", :class => 'heart__number'}= post.like
				%h2{:style => 'margin-top: 0'}
					= link_to post.title, post
