!!!
%html
  %head
    %title UnicornCms
    %link{rel:'dns-prefetch', href:'//fonts.googleapis.com'}
    %link{href:'//fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,700',rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
